body {
font-family:cursive;
    color:black;
font-size:24px;
background-image: url(background.1.jpg);
    background-size: cover;
}
    
    img {
        width:60%;
            border:8px green;
        border-radius:20%;
        display:block;
        margin:auto;
        
    
    }
   <div class="mavi">
    h1 {  
        border-bottom:5px solid blue;
            text-align: center;
        background-color:rgba(237,246,255);
        }

<div class="mavi">

h2 class="paragraf1"
    
 
